
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 148rem;
}.home-2-qby {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  width: 100%;
  overflow: hidden;
  position: relative;

  .item--1um {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-bwpm-TQP {
      background-position: center;
      box-sizing: border-box;
      padding: 2rem 50.4rem 0.7rem 50.4rem;
      display: flex;
      align-items: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:5c976a5fff6c8f94371894f7584364c7f693e399');
      flex-shrink: 0;
      margin-bottom: 0.4rem;
      width: 100%;
      column-gap: 2rem;

      .line-left-i5R {
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 3rem;
      }
      .item--14X {
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Cormorant Unicase, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .line-4line-right-bYX {
        margin-top: 0.3rem;
        width: 3rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-thin-3fR {
      background-color: #000000;
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      width: 100%;
      height: 0.1rem;
    }
    .line-thick-yJB {
      flex-shrink: 0;
      width: 100%;
      height: 0.2rem;
      background-color: #000000;
    }
    .auto-group-h1lx-7fH {
      background-color: #4f3e38;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 21.8rem 0.9rem 21.6rem;
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: inset 0 0 0.4rem #000000);

      .item--RR5 {
        font-family: Cormorant Unicase, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 5.9rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        font-size: 3.2rem;
        color: #fcf7f2;
        flex-shrink: 0;
      }
      .dot-left-v6w {
        flex-shrink: 0;
        margin: 0.3rem 6.05rem 0rem 0rem;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #fcf7f2;
        border-radius: 0.6rem;
      }
      .item--2Qs {
        flex-shrink: 0;
        margin-right: 6.05rem;
        line-height: 1.2125;
        color: #fcf7f2;
        font-family: Cormorant Unicase, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
      }
      .dot-mid-KPy {
        margin: 0.3rem 5.4rem 0rem 0rem;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #fcf7f2;
        border-radius: 0.6rem;
        flex-shrink: 0;
      }
      .item--2JP {
        font-weight: 400;
        line-height: 1.2125;
        font-family: Cormorant Unicase, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 5.4rem;
        font-size: 3.2rem;
        color: #fcf7f2;
        flex-shrink: 0;
        text-align: center;
      }
      .dot-right-L4B {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #fcf7f2;
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin: 0.3rem 6rem 0rem 0rem;
      }
      .item--Sd1 {
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #fcf7f2;
        font-family: Cormorant Unicase, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-ct5z-jMD {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 6.7rem 10rem 4.1rem 10rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-nwxb-eyy {
      width: calc(100% - 10.2rem);
      height: 49.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.3rem 4.7rem 6.9rem;

      .item-1-moh {
        margin-right: 9.6rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--6qy {
          margin-right: 6rem;
          width: 19.3rem;
          height: 49.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-npwb-nyh {
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .item--9ZM {
            height: 27.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 3rem;
            width: 28.8rem;
          }
          .item--qwy {
            width: 28.8rem;
            height: 19rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .item-2-MfR {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item--VFq {
          margin-right: 6rem;
          width: 19.3rem;
          height: 49.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-druz-Qdh {
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .item--wNj {
            flex-shrink: 0;
            margin-bottom: 3rem;
            width: 28.8rem;
            height: 19rem;
            object-fit: cover;
            vertical-align: top;
          }
          .item--rVh {
            width: 28.8rem;
            height: 27.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-jnsu-Zf1 {
      width: 100%;
      display: flex;
      column-gap: 2.7rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 13rem;

      .line-left-6ew {
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 43.7rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .item--SD1 {
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #4f3e38;
        font-family: Cormorant Unicase, 'Source Sans Pro';
        white-space: nowrap;
      }
      .line-left-L3V {
        margin-top: 0.1rem;
        width: 43.7rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .item--4kB {
      font-family: Alegreya SC, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.36;
      color: #7a7a7a;
    }
  }
}
